img {
    max-width: 100%;
}

body {
    position: relative;
    min-height: 100vh;
}

.toast {
    position: absolute;
    width: 100%;
    bottom: 0px;
    opacity: 0;

    box-sizing: border-box;
}